<html>
    <head>
        <title>First AngularJS</title>
        <script type='text/javascript'
        src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js'></script>
    </head>
<body>
    <div ng-app>
        Num X :<input type='number' ng-model="numX"/> <br/>
        Num Y : <input type='number' ng-model="numY"/><br/>

        <!--A View via interpolation (expression)-->
        Sum : <b>{{numX+numY}}</b><br/>
        Difference : <b>{{numX-numY}}</b><br/>
        Product : <b>{{numX*numY}}</b><br/>
        Division : <b>{{numX/numY}}</b><br/>
       
    </div>
</body>
</html>
